node_modules/
out/
.vscode-test/
*.vsix
.gemini/
*.json
!package.json
!tsconfig.json
!media/*.json
!snippets/*.json
!data/*.json
.DS_Store
src/config.ts
.tmp/
media/concept_logos/
learning/
.gee_history
README_es.md
scratch/
ROADMAP.md
README_es.md
