.vscode/**
.vscode-test/**
.tmp/**
learning/**
scratch/**
ROADMAP.md
media/concept_logos/**
**/.DS_Store
src/**
tsconfig.json
node_modules/**
vsc-extension-quickstart.md
**/*.map
**/*.ts
**/__pycache__/**
*.vsix
